html {
  min-height: 100vh;
}
.logo {
  cursor: pointer;
  width: 201px;
  height: 72px;
  background: #FFFFFF;
}
.container-main,.container-menu{
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1280px) {
  .container-main {
    width: 1000PX;
  }
  .container-menu {
    max-width: 1100PX;
  }

}

@media (min-width: 1281px) and (max-width: 1549px) {
  .container-main {
    width: 1250PX;
  }
  .container-menu {
    max-width: 1350PX;
  }
}

@media (min-width: 1550px){
  .container-main {
    width: 1500PX;
  }
  .container-menu {
    max-width: 1600PX;
  }
}
.container-menu {
  width: 90%;
}

.header-index {
  width: 100%;
  min-width: 1240px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 0 0 #ddd;
  box-shadow: 0 1px 0 0 #ddd;
  position: relative;
  z-index: 1000;
}
.bg-hui{
	background-color: rgba(245, 246, 246, 1);
}

// 滚动槽
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

// 滚动条滑块
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.f,
.f-a,
.f-j,
.f-c,
.f-s,
.f-a-j {
  display: flex;
}

.f-1 {
  flex: 1;
}

.f-a {
  align-items: center;
}

.f-s {
  justify-content: space-between;
}

.f-c {
  flex-direction: column;
}

.f-j {
  justify-content: center;
}

.f-a-j {
  justify-content: center;
  align-items: center;
}
.hand{
	cursor:pointer
}
.tagList{
      padding: 0 1px  ;
	  height: 19px;
	  border-radius: 8px 0 8px 0;
	  
	  color: #FFFFFF;
      background: linear-gradient(180deg, #74AEFF 0%, #346FEB 100%);
	  display: flex;
	  align-items: center;
	  justify-content: center;
}
.organ{
	background: linear-gradient(0deg, #F09D3A 0%, #FFC279 100%);
}
.smallf12{
	-webkit-transform: scale(0.75);
}
