html {
  min-height: 100vh;
}

.container-1200{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container-1430{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header-index {
  width: 100%;
  min-width: 1240px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 0 0 #ddd;
  box-shadow: 0 1px 0 0 #ddd;
  position: relative;
  z-index: 1000;
}
