.f,
.f-a,
.f-j,
.f-c,
.f-s,
.f-a-j {
  display: flex;
}

.f-1 {
  flex: 1;
}

.f-a {
  align-items: center;
}

.f-s {
  justify-content: space-between;
}

.f-c {
  flex-direction: column;
}

.f-j {
  justify-content: center;
}

.f-a-j {
  justify-content: center;
  align-items: center;
}